/* Write custom CSS for .notion-topbar below */
/**/

/* Styles drag area as a custom titlebar */
/**/
/* Sets .notion-topbar as a drag area for electron */
/* Disables text selection for .notion-topbar */
.notion-topbar { -webkit-user-select: none; -webkit-app-region: drag; }
/* Makes .notion-topbar buttons clickable */
.notion-collection_view_page-block { -webkit-app-region: no-drag; }
.notion-open-sidebar { -webkit-app-region: no-drag; }
.notion-page-block { -webkit-app-region: no-drag; }
.notion-selectable { -webkit-app-region: no-drag; }
.notion-topbar-share-menu { -webkit-app-region: no-drag; }
.notion-topbar-more-button { -webkit-app-region: no-drag; }
.notion-topbar-share-menu + div,
.notion-topbar-share-menu + div + div { -webkit-app-region: no-drag; }




body.notion-body {
    /* background-image: url('https://i.imgur.com/a3CEsjp.png') !important; */
    background-image: url('https://cdn.discordapp.com/attachments/850729396692451387/865184760149573633/chill_anime_2.jpeg') !important;
    background-size: cover !important; /* Resize the background image to cover the entire container */
    /* opacity: 0.5 !important; */
}


div.notion-sidebar {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}


div.notion-focusable {
    /* background: linear-gradient(90deg, rgba(142,0,163,0.5021358885351015) 0%, rgba(209,0,255,0.49933476808692223) 100%); */
    border-radius: 4px;
    background: none !important;
}

div.notion-focusable:hover {
    background: linear-gradient(90deg, rgba(114, 6, 131, 0.233) 100%, rgba(138, 5, 150, 0.24) 100%) !important;

    color: white;
}
/* 
div.notion-overlay-container>div>div>div>div>div {
}
div.notion-overlay-container>div>div>div>div>div>div {
}
div.notion-overlay-container>div>div>div>div>div>div>div {
    background: yellow !important;
    width: 50000000px;
}
div.notion-overlay-container>div>div>div>div>div>div>div>div {
    background: green !important;
    width: 50000000px;
} */

div.notion-overlay-container>div>div>div>div>div>div>div>div>div>div>div {
    background: none !important;
    background-color: none !important;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
div.notion-overlay-container>div>div>div>div>div>div>div>div>div>div {
    background: none !important;
    background-color: none !important;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

div.notion-overlay-container>div>div>div>div>div>div>div>div>div {
    background: none !important;
    background-color: none !important;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
div.notion-overlay-container>div>div>div>div>div>div>div>div {
    background: none !important;
    background-color: none !important;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
div.notion-overlay-container>div>div>div>div>div>div>div {
    background: none !important;
    background-color: none !important;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

div.div.div.notion-focusable-within {
    box-shadow: rgb(10 10 10 / 70%) 0px 0px 0px 1px inset, rgb(10 10 10 / 40%) 0px 0px 0px 2px !important
}




/* {
    background-color: #11ffee00;  
} */

/* Write custom CSS below */
/**/

/* Cusotm Scrollbar Example */
::-webkit-scrollbar { background-color: #292d30; }
::-webkit-scrollbar-track { background-color: #2f3437; }
::-webkit-scrollbar-thumb { background-color: #292d30; }    